.header{
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Title{
    box-sizing: content-box;
    font-size:1rem;
    color: #fff;
    white-space: nowrap;
    margin-left: 20px;
    display: flex;
}
.nav_section{
    box-sizing: content-box;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-left: 20%;
}

#category{
    display: flex;
    text-decoration: none;
    list-style: none;
    flex-basis: auto;
}
li{
    display: flex;
    width: 100%;
    flex-basis: auto;
    margin-right: 20px;
}
li button{
    color: #fff;
    cursor: pointer;
    border-spacing: 15px;
    font-size: 1rem;
    font-weight: bold;
}
.container{
    margin: 0 auto;
    background-color: #1abc9c;
    justify-content:center ;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Img{
    border-radius: 50%;
    box-sizing: content-box;
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.container_h1{
    box-sizing: border-box;
}
.container_h1 h1{
    margin-top: 45px;
    text-align: center;
    color: #fff;
    font-size: 4rem;
}
.container_h1 p{
    color: #fff;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: #fff;
    border: none;
}
i{
    color: white;
}
#burger{
    display: none;
}
.fa-star{
    text-align: center;
}
@media screen and (max-width: 768px){
    #burger{
        display: flex;
        font-size: 1.5rem;
        margin-right: 100px;
    }
    #burger:hover{
        background-color: #1abc9c;
    }
    #Title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header{
        display: block;
    }
    #category{
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding-right: 40px;
        margin-bottom: 20px;
    }
    li{
        margin-bottom:20px;
    }
    li :hover{
        background-color: #1abc9c;
        border-radius: 20%;
        width: 100%;
    }
    .nav_section{
        display: none;
        margin: 0;
        justify-content: center;
    }    
}