/* 시작 인트로 애니메이션 효과 후 로그인 화면 띄우기 */
html{
    background-color: lightblue;
}
body{
    margin: 3px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 812px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: white;
    
}

/* 여기까지 초기설정 */

header{
    width: 375px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#clock{
    font-size: 16px;
    margin-left: 19px;
}
#icon{
    margin-right: 19px;
}
.container{
    width: 233px;
    height: 43px;
    margin-top: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #FCD26B;
    border-radius: 20px;
}
h2{
    margin: 0;
    font-size: 20px;
};
.container2{
    display: flex;
    align-items: center;
    width: 277px;
    height: 70px;
}
p{
    font-style:normal;
    font-size: 26px;
    align-items: center;
    text-align: center;
}
#dangIMG1{
    display: flex;
    justify-content: center;
    width: 233px;
    height: 233px;
    border-radius: 150.5px;
}
#dangIMG2{
    display: none;
}


/* 여기부터 로그인섹션 */

.auto_login{
    font-size: 14px;
    margin-left: 171px;
}
.ID_sec{
    margin-top: 4px;
    border: 5px solid #F95050;
    border-radius: 20px;
    width: 261px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.PW_sec{
    border: 5px solid #A3CF69;
    border-radius: 20px;
    width: 261px;
    height: 51px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ID{
    border-style: none;
    margin-top: 3px;
}
#PW{
    border-style: none;
    margin-top: 3px;
}
.nav_thing{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.find_info{
    height: 19px;
    border-style: none;
    background: none;
    cursor: pointer;
}
.join{
    height: 19px;
    border-style: none;
    background: none;
    cursor: pointer;
}
